.org-card {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.org-top {
  display: flex;
  gap: 60px;
}

.org-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.org-img {
  width: 40%;
  height: auto;
  border-radius: 30px;
}

.star-button {
  background: none;
  border: none;
  border-radius: 0px;
  width: auto;
  height: auto;
  padding: 0;
}