.directory-container {
  display: flex;
  align-items: flex-start;
  gap: 5vh;
  padding: 0 5vh;
}

.filter-bar {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 30px;

  padding: 25px;
  gap: 12px;

  width: fit-content;
  height: fit-content;
}

.directory-orgs {
 /* margin-right: 5vh; */
 flex: 1;
 min-width: 0;
}