.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(20px, 5vw, 80px);
    margin-bottom: 150px;
}

.home-container .meow {
    width: clamp(100px, 24vw, 800px);
    height: auto;
    /* aspect-ratio: 389 / 477; */
    border-radius: 30px;
}

.home-container .logo {
    width: clamp(180px, 30vw, 5002424px);
    height: auto;
}

.home-container p {
    margin-right: clamp(0px, 5vw, 90px);
    max-width: 1000000px;
}

.home-3-cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
    /* margin: 0 auto; */
}

.hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
