:root {
  --background: #DEEEDC;
  --primary: #3A5B22;
  --secondary1: #AECCAA; 
  --secondary2: #778D67; /* corresp border */
  --tertiary1: #E8F1E7;
  --tertiary2: #CCD8C4;
}

body {
  color: #000;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15px;
}


h1 {
  color: var(--primary);
  font-family: "DM Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15px;
}

h2 {
  color: var(--primary);
  font-family: "DM Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15px;
}

h3 {
  color: var(--primary);
  font-family: "DM Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.15px;
}

html {
  background-color: var(--background);
}