.loading-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 9999;
}

.loading-text {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 900;
}