.profile-header {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}

.profile-left {
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 20px;
}

.profile-right {
    flex: 0 0 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.back-button {
    align-self: flex-end;
    width: 200px;
}

.website-button {
    width: 270px;
    height: 66px;
}

.orgprof-img {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}

.profile-bottom {
    display: flex;
    gap: 30px;
}

.propublica-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.exp-tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.propublica-text {
    display: flex;
    gap: 35px;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
